apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nhsei-website.fullname" . }}
  labels:
    {{- include "nhsei-website.labels" . | nindent 4 }}
spec:
{{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      {{- include "nhsei-website.selectorLabels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "nhsei-website.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "nhsei-website.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
#          livenessProbe:
#            httpGet:
#              path: /
#              port: 8000
#          readinessProbe:
#            httpGet:
#              path: /
#              port: 8000
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: ALLOWED_HOSTS
              value: "{{ .Values.environment.allowed_hosts }}"
            - name: DATABASE_URL
              value: "{{ .Values.environment.database_url }}"
            - name: AZURE_CONNECTION_STRING
              value: "{{ .Values.environment.azure_connection_string }}"
            - name: AZURE_CONTAINER
              value: "{{ .Values.environment.azure_container }}"
            - name: EMAIL_URL
              value: "{{ .Values.environment.email_url }}"
            - name: DEFAULT_FROM_EMAIL
              value: "{{ .Values.environment.default_from_email }}"
            - name: SERVER_EMAIL
              value: "{{ .Values.environment.server_email }}"
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
