{% extends "base.html" %}
{% load static posts_tags blog_tags wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}
    <div class="nhsuk-panel">

    <h1>{{ self.title }}</h1>

    {% if self.body %}
    {{ self.body|richtext }}
    {% else %}
    <p>
        This is the body content, currently empty...
    </p>
    {% endif %}
    <p>{{ self.first_published_at|date }}</p>
    <hr>


    <p>The pages below are the pages that currently have children pages to form a starter navigation.</p>
    {% for child in component_pages %}
    <div><a href="{{ child.url }}">{{ child }}{{ child.md_pcc_reference }}</a></div>
    {% endfor %}
</div>
{% endblock content %}