{% load wagtailcore_tags frontend_tags %}
{% if settings.core.CoreSettings.is_visible %}
<div class="nhsuk-global-alert" id="nhsuk-global-alert" role="complementary">
   <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
         <div class="nhsuk-grid-column-full">
            <div class="nhsuk-global-alert__content">
               <div class="nhsuk-global-alert__message">
                  {{ settings.core.CoreSettings.alert_banner|richtext }}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endif %}
{% comment %} <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v1/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Publications</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Guidance</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">General practice</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#">Back to General practice</a></p>
  </div>
</nav> {% endcomment %}


  {% comment %} {% breadcrumb %} {% endcomment %}
