<div class="nhsuk-form-group">
   <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
         Topic
      </legend>
      <div class="nhsuk-checkboxes nhsuk-checkboxes--small">
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-1" name="topic" type="checkbox" value="a greener nhs">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-1">
            A greener NHS
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-2" name="topic" type="checkbox" value="board meetings">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-2">
            Board meetings
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-3" name="topic" type="checkbox" value="cancer">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-3">
            Cancer
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-4" name="topic" type="checkbox" value="children and young people">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-4">
            Children and young people
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-5" name="topic" type="checkbox" value="commissioning">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-5">
            Commissioning
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-6" name="topic" type="checkbox" value="corporate publication">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-6">
            Corporate publication
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-7" name="topic" type="checkbox" value="dementia">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-7">
            Dementia
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-8" name="topic" type="checkbox" value="diabetes">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-8">
            Diabetes
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-9" name="topic" type="checkbox" value="emergency preparedness resilience response (eprr)">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-9">
            Emergency preparedness resilience response (EPRR)
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-10" name="topic" type="checkbox" value="end of life care">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-10">
            End of life care
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-11" name="topic" type="checkbox" value="equality, diversity and inclusion">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-11">
            Equality, diversity and inclusion
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-12" name="topic" type="checkbox" value="eye health">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-12">
            Eye health
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-13" name="topic" type="checkbox" value="finance">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-13">
            Finance
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-14" name="topic" type="checkbox" value="five year forward view">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-14">
            Five year forward view
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-15" name="topic" type="checkbox" value="friends and family test">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-15">
            Friends and family test
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-16" name="topic" type="checkbox" value="gender identity">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-16">
            Gender identity
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-17" name="topic" type="checkbox" value="general practice">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-17">
            General practice
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-18" name="topic" type="checkbox" value="governance">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-18">
            Governance
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-19" name="topic" type="checkbox" value="health and justice">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-19">
            Health and justice
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-20" name="topic" type="checkbox" value="healthcare science">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-20">
            Healthcare science
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-21" name="topic" type="checkbox" value="hearing loss">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-21">
            Hearing loss
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-22" name="topic" type="checkbox" value="heart disease">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-22">
            Heart disease
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-23" name="topic" type="checkbox" value="information governance">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-23">
            Information governance
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-24" name="topic" type="checkbox" value="innovation">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-24">
            Innovation
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-25" name="topic" type="checkbox" value="integrated care">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-25">
            Integrated care
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-26" name="topic" type="checkbox" value="integrated care systems (ics’s)">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-26">
            Integrated Care Systems (ICS’s)
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-27" name="topic" type="checkbox" value="learning disabilities">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-27">
            Learning disabilities
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-28" name="topic" type="checkbox" value="long term plan">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-28">
            Long term plan
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-29" name="topic" type="checkbox" value="maternity">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-29">
            Maternity
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-30" name="topic" type="checkbox" value="medicine">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-30">
            Medicine
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-31" name="topic" type="checkbox" value="mental health">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-31">
            Mental health
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-32" name="topic" type="checkbox" value="midwifery">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-32">
            Midwifery
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-33" name="topic" type="checkbox" value="musculoskeletal conditions">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-33">
            Musculoskeletal conditions
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-34" name="topic" type="checkbox" value="nhs 111">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-34">
            NHS 111
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-35" name="topic" type="checkbox" value="nhs anniversaries">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-35">
            NHS anniversaries
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-36" name="topic" type="checkbox" value="nhs standard contract">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-36">
            NHS Standard Contract
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-37" name="topic" type="checkbox" value="nursing">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-37">
            Nursing
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-38" name="topic" type="checkbox" value="obesity">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-38">
            Obesity
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-39" name="topic" type="checkbox" value="older people">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-39">
            Older people
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-40" name="topic" type="checkbox" value="oral health">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-40">
            Oral health
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-41" name="topic" type="checkbox" value="patient safety">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-41">
            Patient safety
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-42" name="topic" type="checkbox" value="personalised care">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-42">
            Personalised care
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-43" name="topic" type="checkbox" value="pharmacy">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-43">
            Pharmacy
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-44" name="topic" type="checkbox" value="planning guidance">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-44">
            Planning guidance
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-45" name="topic" type="checkbox" value="prevention">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-45">
            Prevention
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-46" name="topic" type="checkbox" value="primary care">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-46">
            Primary care
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-47" name="topic" type="checkbox" value="referral to treatment times">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-47">
            Referral to treatment times
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-48" name="topic" type="checkbox" value="respiratory">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-48">
            Respiratory
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-49" name="topic" type="checkbox" value="revalidation">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-49">
            Revalidation
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-50" name="topic" type="checkbox" value="safeguarding">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-50">
            Safeguarding
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-51" name="topic" type="checkbox" value="sepsis">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-51">
            Sepsis
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-52" name="topic" type="checkbox" value="specialised commissioning">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-52">
            Specialised commissioning
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-53" name="topic" type="checkbox" value="stroke">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-53">
            Stroke
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-54" name="topic" type="checkbox" value="sustainability and transformation partnerships">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-54">
            Sustainability and transformation partnerships
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-55" name="topic" type="checkbox" value="urgent and emergency care">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-55">
            Urgent and emergency care
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-56" name="topic" type="checkbox" value="whistleblowing">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-56">
            Whistleblowing
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="topics-57" name="topic" type="checkbox" value="workforce">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="topics-57">
            Workforce
            </label>
         </div>
      </div>
   </fieldset>
</div>