<div class="nhsuk-form-group">
    <div class="nhsuk-form-group">
       <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
             Content type
          </legend>
          <div class="nhsuk-checkboxes">
             <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="content" name="content" type="checkbox" value="news">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="content">
                News
                </label>
             </div>
             <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="content-type-2" name="content" type="checkbox"
                   value="blog posts">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="content-type-2">
                Blog posts
                </label>
             </div>
             <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="content-type-3" name="content" type="checkbox"
                   value="resources">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="content-type-3">
                Resources
                </label>
             </div>
             <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="content-type-4" name="content" type="checkbox"
                   value="web page">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="content-type-4">
                Web page
                </label>
             </div>
          </div>
       </fieldset>
    </div>
 </div>