<div class="nhsuk-form-group">
   <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
         Resource type
      </legend>
      <div class="nhsuk-checkboxes">
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="resource" name="resource" type="checkbox" value="case study">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="resource">
            Case study
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="resource-type-2" name="resource" type="checkbox" value="data statistics">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="resource-type-2">
            Data and statistics
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="resource-type-3" name="resource" type="checkbox" value="guidance">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="resource-type-3">
            Guidance
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="resource-type-4" name="resource" type="checkbox" value="nhs contract">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="resource-type-4">
            NHS Standard Contract
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="resource-type-5" name="resource" type="checkbox" value="regulatory">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="resource-type-5">
            Regulatory
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="resource-type-6" name="resource" type="checkbox" value="research">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="resource-type-6">
            Research
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="resource-type-7" name="resource" type="checkbox" value="service specification">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="resource-type-7">
            Service specification
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="resource-type-8" name="resource" type="checkbox" value="standard procedure">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="resource-type-8">
            Standard operating procedure
            </label>
         </div>
         <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="resource-type-9" name="resource" type="checkbox" value="templates">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="resource-type-9">
            Templates and forms
            </label>
         </div>
      </div>
   </fieldset>
</div>