<!-- raw example from https://medium.com/swlh/building-a-css-only-responsive-multi-level-mega-menu-ee0a3781cc3f
CODEPEN: https://codepen.io/vixxofsweden/pen/xxGGYOE
-->
<!-- needs refining and styling & Fix mobile-->
<div class="nhsuk-width-container">
  <div class="nav mega_nav_wrapper">
      <nav id="header-navigation" class="mega_nav" role="navigation" aria-label="Primary navigation" aria-labbeledby="label-navigation">
          <a href="javascript:void(0);" class="mobile-menu-trigger">Open mobile menu</a>
          <ul class="menu menu-bar" aria-hidden="false" role="menubar">
              <li>
                  <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">
                    Publications
                  </a>
                  <ul class="mega-menu mega-menu--multiLevel">
                    {% include "partials/nav-links/publications.html" %}
                  </ul>
              </li>

              <li>
                  <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">
                    Our work
                  </a>
                  <ul class="mega-menu mega-menu--multiLevel">
                    <li>
                        <a href="/ourwork" class="menu-link mega-menu-link mega-menu-header">
                          Our work
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link " aria-haspopup="true">
                          Our priorities
                        </a>
                        <ul class="menu menu-list menu-multiColumn">
                          {% include "partials/nav-links/our-work__our-priorities.html" %}
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">
                          Ways of working
                        </a>
                        <ul class="menu menu-list menu-multiColumn">
                          {% include "partials/nav-links/our-work__ways-of-working.html" %}
                        </ul>
                    </li>
                    <li>
                        <a href="/commissioning/" class="menu-link mega-menu-link">
                          Commissioning
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-link mega-menu-link" aria-haspopup="true">
                          Finance
                        </a>
                        <ul class="menu menu-list menu-multiColumn">
                          {% include "partials/nav-links/our-work__finance.html" %}
                        </ul>
                    </li>
                    <li class="mobile-menu-back-item"><!-- Mobile back -->
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                  </ul>
              </li>
              <li>
                <a href="javascript:void(0);"
                class="menu-link menu-bar-link" aria-haspopup="true">
                  Our people
                </a>
                <ul class="mega-menu mega-menu--multiLevel">
                  {% include "partials/nav-links/our-people.html" %}
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">
                  Improvement
                </a>
                <ul class="mega-menu mega-menu--multiLevel">
                  {% include "partials/nav-links/improvement.html" %}
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">
                  Patient involvement
                </a>
                <ul class="mega-menu mega-menu--multiLevel">
                  {% include "partials/nav-links/patient-involvement.html" %}
                </ul>
              </li>

              <li>
                  <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">News and blogs</a>
                  <ul class="mega-menu mega-menu--multiLevel">
                    {% include "partials/nav-links/news-blogs.html" %}
                  </ul>
              </li>

              <li class="mobile-menu-header">
                  <a href="/home" class="">
                      <span>Home</span>
                  </a>
              </li>
          </ul>
      </nav>
  </div>
</div>
