<div class="nhsuk-width-container nhsuk-u-margin-bottom-3">
    <div class="app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="app-tag app-phase-banner__content__tag">
          Private beta
        </strong>
        <span class="app-phase-banner__text">
          This is a new website under development – your <a class="app-link" href="https://www.engage.england.nhs.uk/survey/45fad342/">feedback</a> will help us to
          improve it. <br> For latest live content go to <a href="https://www.england.nhs.uk/">england.nhs.uk</a>.
        </span>
      </p>
    </div>
  </div>