{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Importer</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Global stylesheets #}
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/importer-style.css' %}">
    {% comment %} <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            max-width: 1000px;
            margin: auto;
            padding: 20px;
        }
    </style> {% endcomment %}
    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}
    <header class="container max-width-xl bg-primary text-center padding-sm margin-y-sm radius-sm color-contrast-low text-component">
        <h1 class="color-primary-lighter">Wagtail IMPORTER</h1>
        <p>Trying out imports from the SCRAPY API</p>
    </header>
    <nav class="container max-width-xl margin-y-sm border-bottom padding-bottom-sm">
        <ul class="flex gap-sm">
            <li><a class="btn btn--subtle" href="/">NHS ei Home Page</a></li>
            {% comment %} <li><a class="btn btn--subtle" href="/news-items-base">News</a></li>
            <li><a class="btn btn--subtle" href="/blog-items-base">Blogs</a></li>
            <li><a class="btn btn--subtle" href="/search">Search</a></li> {% endcomment %}
            <li class="margin-left-auto"><a class="btn btn--warning" href="/admin" title="login required">Wagtail Admin</a></li>
        </ul>
    </nav>

    <main class="container max-width-xl">
        {% block page_title %}
            <h1>{{ self.title }}</h1>
        {% endblock %}
        {% block content %}{% endblock %}
    </main>

    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/importer-scripts.js' %}"></script>

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>

</html>