<li>
    <a href="/participation/"
    class="menu-link mega-menu-link mega-menu-header">
      Get Involved
    </a>
</li>
<li>
    <a href="/participation/about/"
    class="menu-link mega-menu-link">
      About the involvement hub
    </a>
</li>
<li>
    <a href="/participation/get-involved/"
    class="menu-link mega-menu-link">
      How to get involved
    </a>
</li>
<li>
    <a href="/participation/why/"
    class="menu-link mega-menu-link">
      Why get involved
    </a>
</li>
<li>
    <a href="/participation/get-involved/opportunities/"
    class="menu-link mega-menu-link">
      Current opportunities
    </a>
</li>
<li>
    <a href="/participation/learning/"
    class="menu-link mega-menu-link">
      Learning and development
    </a>
</li>
<li>
    <a href="https://www.engage.england.nhs.uk/" target="_blank"
    class="menu-link mega-menu-link">
      Surveys and consultations
    </a>
</li>
<li>
    <a href="/participation/success/"
    class="menu-link mega-menu-link">
      Good practice and case studies
    </a>
</li>
<li>
    <a href="/participation/resources/bitesizeparticipation/"
    class="menu-link mega-menu-link">
      Resources and bite sized guides
    </a>
</li>
<li>
    <a href="/participation/involvementguidance/"
    class="menu-link mega-menu-link">
      Information for commissioners
    </a>
</li>

<li class="mobile-menu-back-item"
class="menu-link mega-menu-link">
    <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
</li>
