<li>
  <a href="/improvement"
  class="menu-link mega-menu-link mega-menu-header">
  Improvement
  </a>
</li>
<li>
  <a href="/improvement-hub/"
  class="menu-link mega-menu-link">
  Improvement hub
  </a>
</li>
<li>
  <a href="/patient-safety/"
  class="menu-link mega-menu-link">
  Patient safety
  </a>
</li>
<li>
  <a href="/safeguarding/"
  class="menu-link mega-menu-link">
  Safeguarding
  </a>
</li>
<li>
  <a href="/insights-platform/"
  class="menu-link mega-menu-link">
  Insights platform
  </a>
</li>
<li>
  <a href="/always-events/"
  class="menu-link mega-menu-link">
  Always events
  </a>
</li>
<li>
  <a href="/evidence-based-interventions/"
  class="menu-link mega-menu-link">
  Evidence-Based Interventions Programme
  </a>
</li>
<li>
  <a href="/ltphimenu/"
  class="menu-link mega-menu-link">
  Menu of evidence-based interventions and approaches for addressing and reducing health inequalities
  </a>
</li>
<li>
  <a href="/seven-day-hospital-services/"
  class="menu-link mega-menu-link">
  7 day hospital services
  </a>
</li>
<li>
  <a href="/winter/"
  class="menu-link mega-menu-link">
  Winter resilience
  </a>
</li>
<li>
  <a href="/aac/"
  class="menu-link mega-menu-link">
  NHS Accelerated Access Collaborative (AAC)
  </a>
</li>
<li>
  <a href="/greenernhs/"
  class="menu-link mega-menu-link">
  A greener NHS
  </a>
</li>

<li class="mobile-menu-back-item"
class="menu-link mega-menu-link">
    <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
</li>
