<li>
  <a href="/our-people"
  class="menu-link mega-menu-link mega-menu-header">
    NHS Workforce
  </a>
</li>
<li>
  <a href="/ournhspeople/"
  class="menu-link mega-menu-link">
    NHS People Plan
  </a>
</li>
<li>
  <a href="/looking-after-our-people/"
  class="menu-link mega-menu-link">
    Looking after our people
  </a>
</li>
<li>
  <a href="/pensions/"
  class="menu-link mega-menu-link">
    Pensions
  </a>
</li>
<li>
  <a href="javascript:void(0);"
  class="menu-link mega-menu-link" aria-haspopup="true">
  Celebrating NHS
  </a>
  <ul class="menu menu-list menu-multiColumn">
    {% include "partials/nav-links/nhs-workforce__celebrating-nhs.html" %}
  </ul>
</li>

<li class="mobile-menu-back-item"
class="menu-link mega-menu-link">
  <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
</li>
