<li>
    <a href="/long-term-plan/"
    class="menu-link mega-menu-link">
      Long term plan
    </a>
</li>
<li>
    <a href="new-care-models/"
    class="menu-link mega-menu-link">
      New care models
    </a>
</li>
<li>
    <a href="/healthcare-science/"
    class="menu-link mega-menu-link">
      Healthcare science
    </a>
</li>
<li>
    <a href="/integrated-care-pioneers/"
    class="menu-link mega-menu-link">
      Integrated care pioneers
    </a>
</li>
<li>
    <a href="/personalised-health-and-care-framework/"
    class="menu-link mega-menu-link">
      Personalised health and care framework
    </a>
</li>
<li>
    <a href="/digitaltechnology/"
    class="menu-link mega-menu-link">
      Digital transformation
    </a>
</li>
<li>
    <a href="/elective-care-transformation/"
    class="menu-link mega-menu-link">
      Elective care transformation
    </a>
</li>
<li>
    <a href="/integratedcare/"
    class="menu-link mega-menu-link">
      Integrated care
    </a>
</li>
<li>
    <a href="/primary-care/"
    class="menu-link mega-menu-link">
      Primary care
    </a>
</li>
<li>
    <a href="/gp/"
    class="menu-link mega-menu-link">
      General Practice
    </a>
</li>
<li>
    <a href="/gp-online-services/"
    class="menu-link mega-menu-link">
      GP online services
    </a>
</li>
<li>
    <a href="/nursingmidwifery/"
    class="menu-link mega-menu-link">
      Nursing and midwifery
    </a>
</li>
<li>
    <a href="/medical-revalidation/"
    class="menu-link mega-menu-link">
      Medical revalidation
    </a>
</li>
<li>
    <a href="/ahp/"
    class="menu-link mega-menu-link">
      Allied Health professions
    </a>
</li>
<li>
    <a href="/mat-transformation/"
    class="menu-link mega-menu-link">
      Maternity transformation programme
    </a>
</li>
<li>
    <a href="/cno-summit/"
    class="menu-link mega-menu-link">
      Chief Nursing Officer for England's Summit
    </a>
</li>
<li>
    <a href="/year-of-the-nurse-and-midwife-2020/"
    class="menu-link mega-menu-link">
      International Year of the Nurse and Midwife 2020
    </a>
</li>

<li class="mobile-menu-back-item"
class="menu-link mega-menu-link">
    <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
</li>
