<li>
    <a href="/cancer/" class="menu-link mega-menu-link">
      Cancer
    </a>
</li>
<li>
    <a href="/coronavirus/"
    class="menu-link mega-menu-link">
    Coronavirus
    </a>
</li>
<li>
    <a href="/diabetes/"
    class="menu-link mega-menu-link">
    Diabetes
    </a>
</li>
<li>
    <a href="/fft/"
    class="menu-link mega-menu-link">
    Friends and family test
    </a>
</li>
<li>
    <a href="/genomics/"
    class="menu-link mega-menu-link">
       Genomics
    </a>
</li>
<li>
    <a href="/hssf/"
    class="menu-link mega-menu-link">
    Health Systems Support framework
    </a>
</li>
<li>
    <a href="/learning-disabilities/"
    class="menu-link mega-menu-link">
    Learning disabilities
    </a>
</li>
<li>
    <a href="/mental-health/"
    class="menu-link mega-menu-link">
    Mental health
    </a>
</li>
<li>
    <a href="/medicines-2/"
    class="menu-link mega-menu-link">
    Medicines: improving outcomes and value
    </a>
</li>
<li>
    <a href="/rightcare/"
    class="menu-link mega-menu-link">
    Right Care
    </a>
</li>
<li>
    <a href="/shared-decision-making/"
    class="menu-link mega-menu-link">
    Shared decision making
    </a>
</li>
<li>
    <a href="/urgent-emergency-care/"
    class="menu-link mega-menu-link">
    Urgent and emergency care
    </a>
</li>
<li class="mobile-menu-back-item"
class="menu-link mega-menu-link">
    <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
</li>
