{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

{% comment %} <a href="{{ self.get_parent.url }}">back</a> {% endcomment %}
{% if self.publication_publication_type_relationship %}
<div class="nhsuk-panel">
<div>
    Categories: 
    {% for publication_type in self.publication_publication_type_relationship.all %}
    <a href="{{ self.get_parent.url }}?publication_type={{ publication_type.publication_type.id }}">{{ publication_type.publication_type.name }}</a>
    {% endfor %}
</div>
<hr>

{% endif %}

<p>
    {{ self.first_published_at|date }} | Author: {{ self.author }}
</p>
<hr>
<h1>{{ self.title }}</h1>
<div><i>a custom field provides this text coming soon</i></div>
<div><i>a custom field provides the docuemnt panel coming soon</i></div>
{{ self.body|richtext }}
</div>
{% endblock content %}