{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<article class="nhsuk-width-container">

    <h1>{{ self.title }}</h1>
    {{ self.body|richtext }}
    {% if self.publication_publication_type_relationship %}

    <div class="nhsuk-review-date">
        <p class="nhsuk-body-s">
            Page first published: {{ self.first_published_at|date:'d M Y  g:i a' }}<br>
            Last updated: {{ self.last_published_at|date:'d M Y  g:i a' }}
        </p>
    </div>
    <!-- <div class="nhsuk-body-s">
        {{ self.first_published_at|date }} | Author: {{ self.author }}
    </div> -->

    <div class="nhsuk-u-reading-width">
        <div class="nhsuk-body-s">
            Topics:
            {% for category in self.publication_category_relationship.all %}
            <a href="{{ self.get_parent.url }}?category={{ category.category.id }}">{{ category.category }}</a>
            {% endfor %} <br>
            Publication Type:
            {% for publication_type in self.publication_publication_type_relationship.all %}
            <a href="{{ self.get_parent.url }}?publication_type={{ publication_type.publication_type.id }}">{{ publication_type.publication_type }}</a>
            {% endfor %}
        </div>
    </div>

    {% endif %}

    {% for block in self.documents %}
        {% include_block block %}
    {% endfor %}


</article>
{% endblock content %}
