{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

<h1>{{ self.title }}</h1>
{% if self.body %}
{{ self.body|richtext }}
{% else %}
<p>
    This is the body content, currently empty...
</p>
{% endif %}
<hr>


<div class="nhsuk-grid-row nhsuk-panel">

    <div class="nhsuk-grid-column-one-third">
        <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-3">Topics</h2>
        <ul class="nhsuk-u-margin-bottom-6">
            {% for c in categories %}
            <li style="margin:0"><a href="?category={{c.id}}">{{ c }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="nhsuk-grid-column-two-thirds">
        {% for blog in blogs %}
        <div>
            <h4><a href="{{ blog.url }}">{{ blog.title }}</a></h4>
            {{ blog.first_published_at|date }} | <i>Author: {{ blog.author }} we are missing the ability to match ID to a name</i>
            <div>
                {{ blog.body|truncatewords_html:"40"|striptags|safe }}
                {% if blog.blog_category_relationship.all %}
                <div>
                    Topics:
                    {% for category in blog.blog_category_relationship.all %}
                    <a href="?category={{ category.category.id }}">{{ category.category }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        
        </div>
        <hr>
        {% endfor %}
        
        
        <div aria-label="Pagination">
        
            {% if blogs.has_previous %}
        
            <a href="?page={{ blogs.previous_page_number }}{% if chosen_category_id %}&category={{ chosen_category_id }}{% endif %}"
                class="pagination__item" aria-label="Go to previous page">
                <span>Prev</span>
            </a>
        
            {% endif %}
        
            {% for page_num in blogs.paginator.page_range %}
        
            <a href="?page={{ page_num }}{% if chosen_category_id %}&category={{ chosen_category_id }}{% endif %}"
                class="pagination__item {% if page_num == blogs.number %}pagination__item--selected{% endif %}"
                aria-label="Go to page 1">{{ page_num }}</a>
        
            {% endfor %}
        
            {% if blogs.has_next %}
        
            <a href="?page={{ blogs.next_page_number }}{% if chosen_category_id %}&category={{ chosen_category_id }}{% endif %}"
                class="pagination__item" aria-label="Go to next page">
                <span>Next</span>
            </a>
        
            {% endif %}
        
        </div>
    </div>

</div>


{% endblock content %}