{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-basepage{% endblock body_class %}

{% block content %}

<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <h1>{{ self.title }}</h1>
        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            {% for block in self.body %}
                {% include_block block %}
            {% endfor %}
        </div>
        <div class="nhsuk-grid-column-one-third">
            {% if children %}
            <h2>In this section</h2>
            <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
                <h2 class="nhsuk-u-visually-hidden">Contents</h2>
                <ol class="nhsuk-contents-list__list">
                    {% for child in children %}
                    <li class="nhsuk-contents-list__item">
                        <a class="nhsuk-contents-list__link" href="{{ child.url }}">{{ child }}</a>
                    </li>
                    {% endfor %}

                </ol>
            </nav>
            {% endif %}
        </div>
    </div>

</div>
{% endblock content %}