{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-componentspage{% endblock body_class %}

{% block content %}

<div class="nhsuk-width-container">
    <h1>{{ self.title }}</h1>
    

    {% for block in self.body %}
        {% include_block block %}
    {% endfor %}

    {% if children %}
    <h2>In this section</h2>
    <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
            {% for child in children %}
            <li class="nhsuk-contents-list__item">
                <a class="nhsuk-contents-list__link" href="{{ child.url }}">{{ child }}</a>
            </li>
            {% endfor %}

        </ol>
    </nav>
    {% endif %}

</div>

{% endblock content %}