<div class="nhsuk-panel-with-label">
    <h3 class="nhsuk-panel-with-label__label">{{ value.title }}</h3>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <p>The most recently added documents to the 
        {% for type in value.type %}
        get types here
        {% endfor %}
        </p>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <ol class="nhsuk-list">
            
                <li>
                  <article class="">
                    <h2 class="nhsuk-heading-xs nhsei-list-title">
                      <a href="#">
                      Data Protection Impact Assessment: National Immunisation, Vaccination System (NIVS)</a>
                    </h2>
                    <span class="nhsei-publication-type label-tag label-tag--orange">Guidance</span>
                    <span class="nhsei-list-meta">Published
                    <time class="date" datetime="">17 November 2020</time></span>
                  </article>
                </li>
              
                <li>
                  <article class="">
                    <h2 class="nhsuk-heading-xs nhsei-list-title">
                      <a href="#">
                      COVID-19 therapy: corticosteroids including dexamethasone and hydrocortisone</a>
                    </h2>
                    <span class="nhsei-publication-type label-tag label-tag--blue">Letter</span>
                    <span class="nhsei-list-meta">Updated
                    <time class="date" datetime="">13 November 2020</time></span>
                  </article>
                </li>
              
                <li>
                  <article class="">
                    <h2 class="nhsuk-heading-xs nhsei-list-title">
                      <a href="#">
                      Case study: St. George’s University Hospitals NHS Foundation Trust: Occupational health and wellbeing</a>
                    </h2>
                    <span class="nhsei-publication-type label-tag label-tag--green">Case study</span>
                    <span class="nhsei-list-meta">Published
                    <time class="date" datetime="">13 November 2020</time></span>
                  </article>
                </li>
              
            </ol>
          </div>

          <div class="nhsuk-grid-column-one-half">
            <ol class="nhsuk-list">
              
                  <li>
                    <article class="">
                      <h2 class="nhsuk-heading-xs nhsei-list-title">
                        <a href="#">
                        Primary Medical Care Policy and Guidance Manual – Annex B: sub contracting of clinical services under GMS contracts</a>
                      </h2>
                      <span class="nhsei-publication-type label-tag label-tag--orange">Guidance</span>
                      <span class="nhsei-list-meta">Published
                      <time class="date" datetime="">12 November 2020</time></span>
                    </article>
                  </li>
                
                  <li>
                    <article class="">
                      <h2 class="nhsuk-heading-xs nhsei-list-title">
                        <a href="#">
                        Primary Medical Care Policy and Guidance Manual – Annex A: sub contracting of clinical services under GMS contracts</a>
                      </h2>
                      <span class="nhsei-publication-type label-tag label-tag--orange">Guidance</span>
                      <span class="nhsei-list-meta">Published
                      <time class="date" datetime="">12 November 2020</time></span>
                    </article>
                  </li>
                
                  <li>
                    <article class="">
                      <h2 class="nhsuk-heading-xs nhsei-list-title">
                        <a href="#">
                        Primary Medical Care Policy and Guidance Manual – Annex 17: novation agreement</a>
                      </h2>
                      <span class="nhsei-publication-type label-tag label-tag--pink">Template</span>
                      <span class="nhsei-list-meta">Published
                      <time class="date" datetime="">12 November 2020</time></span>
                    </article>
                  </li>
                
            </ol>
          </div>

        </div>
        <a href="#">View all publications</a>
      </div>
    </div>
    </div>